:root {
    --fg-theme: gray;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 257px;
    overflow-x: hidden;
    background-color: #40444B;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-right: 1.9rem;
    /* Set the fixed height of the footer here */
    height: 255px;
}

.header {
    background: url("Images/code.png");
    height: 130px;
    background-size: auto;
    background-position: top;
    display: flex;
	flex-direction: column;
    align-items: center;
    justify-content: center;
}

#quotes {
    margin-top: -0.4rem;
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 0.0rem 0.2rem 0.1rem 0.2rem;
    color: white;
    font-style:italic;
    background-color: rgba(99, 99, 99, 0.486);
    border-radius: 0.3rem;
} 

.fg-theme {
    background-color: var(--fg-theme);
}

h1 {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    word-wrap: break-word;
}

h2 {
    word-wrap: break-word;
}

h3 {
    color: white;
    word-wrap: break-word;
}

.contact>p {
    color: white;
    padding-left: 10px;
}

.navbar-light .navbar-nav .nav-link {
    font-size: 19px;
    color: black;
}

a:link {
    color: gray;
    text-decoration: underline;
}

/* visited link */

a:visited {
    color: gray;
}

/* mouse over link */

a:hover {
    color: rgb(0, 0, 0);
}

/* selected link */

a:active {
    color: rgb(180, 180, 180);
}

.nav-link {
    text-decoration: var(--fg-theme);
}

.toolIcon img{
    width: 100;
}

@media screen and (max-width: 768px) {
    h2 {
        font-size: 20px;
    }
    h4 {
        font-size: 18px;
    }
    .stats {
        display: none;
    }
    #quotes {
        display: none;
    }
}

@media screen and (max-width: 360px) {
    h1 {
        font-size: 30px;
    }
    .mostUsedLangs {
        display: none;
    }
}
