:root {
    --fg-theme: gray;
}

html {
    position: relative;
    min-height: 100%;
    overflow-x: hidden;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 257px;
    background-color: #40444B;
}

footer {
    bottom: 0;
    box-sizing: border-box;
    right: 15px;
    left: 15px;
    position: absolute;
    /* Set the fixed height of the footer */
    height: 200px;
}

.header {
    height: 130px;
    width: 100%;
    padding: 0px;
    margin: 0px;
}

.header-image {
    background: url("Images/code.png");
    background-position: top;
    height: 130px;
    filter: blur(1px);
}

.header-text {
    color: white;
    position: absolute;
    text-align: center;
    z-index: 2;
    left: 50%;
    top: 1.5rem;
    transform: translate(-50%, 0%);
    width: fit-content;
}

.jumbotron {
    animation-name: fadeGray;
    background: #dadde0;
    transition: background-color 0.5s ease-out 100ms, filter 0.5s ease-out 100ms;
    filter: none;
}

.jumbotron:hover {
    background-color: #ffffff;
    filter: drop-shadow(0px 0px 0.4rem #dadde0);
}

#Tools>a>img {
    transition: all 0.2s;
}

#Tools>a>img:hover {
    transform: scale(1.1)
}

#quotes {
    font-weight: normal;
    margin-top: -0.4rem;
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 0.0rem 0.2rem 0.1rem 0.2rem;
    color: white;
    font-style: italic;
    background-color: rgba(255, 255, 255, 0.12);
    border-radius: 0.3rem;
    visibility: hidden;
    transition: filter 0.5s ease-out 100ms;
}

#quotes:hover {
    filter: drop-shadow(0px 0px 1rem darkgray);
}

.fade-in {
    visibility: visible !important;
    animation: fadeIn;
    animation-duration: 1s;
}

.fg-theme {
    background-color: var(--fg-theme);
}

h1 {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    word-wrap: break-word;
}

h2 {
    word-wrap: break-word;
}

h3 {
    color: white;
    word-wrap: break-word;
}

#contactItems>a>img {
    transition: transform 0.5s;
}

#contactItems>a>img:hover {
    transform: scale(1.15);
}

.navbar-light .navbar-nav .nav-link {
    font-size: 19px;
    color: black;
}

a:link {
    color: gray;
    text-decoration: underline;
}

a:visited {
    color: gray;
}

a:hover {
    color: black;
}

a:active {
    color: rgb(180, 180, 180);
}

.nav-link {
    text-decoration: var(--fg-theme);
    text-decoration: none!important;
    transition: background-color 0.5s ease-out 100ms
}

.nav-link:hover {
    background-color: rgb(155, 155, 155);
}

.dropdown-menu {
    background-color: var(--fg-theme);
}

.toolIcon img {
    width: 100;
}

.dropdown-item:active {
    background-color: lightgray;
}

@media screen and (max-width: 768px) {
    h2 {
        font-size: 20px;
    }
    h4 {
        font-size: 18px;
    }
    .stats {
        display: none;
    }
    .header-text {
        margin-top: 1.1rem;
    }
    #quotes {
        display: none;
    }
}

@media screen and (max-width: 580px) {
    .dropdown-menu {
        background-color: var(--fg-theme)!important;
        border: none;
    }
}

@media screen and (max-width: 360px) {
    h1 {
        font-size: 30px;
    }
    .mostUsedLangs {
        display: none;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0%;
    }
    to {
        opacity: 100%;
    }
}